[Desktop Entry]
Type=Application
Name=rfircd
Comment=IRC server with an RF gateway (KISS/Direwolf; AIRC and APRS)
Exec=rfircd
Icon=rfircd
Terminal=true
Categories=Network;HamRadio;
Keywords=irc;ax25;packet;amateur;radio;
